@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* ::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: burlywood;
}

::-webkit-scrollbar-button {
	width: 10px;
	height: 10px;
	background-color: black;
} */

body {
	background-color: rgb(65, 65, 65);
	margin: 0;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.App {
	padding: 10px;
	margin-top: 10px;
	background-color: rgb(72, 72, 72);
}

.full-width {
	flex: 1 0 100%;
}

.left-side {
	flex: 3;
	min-width: min(100%, 500px);
}

.right-side {
	flex: 2;
	min-width: min(100%, 300px);
}

/* 
NAVBAR
*/

nav {
	background-color: #333333;
	border-bottom: 2px solid rgb(36, 36, 36);
	border-top: 2px solid rgb(36, 36, 36);
}

.nav-title {
	margin: 10px 10px 15px 10px;
}

.nav-banner {
	max-width: min(500px, 100%);
}

.nav-buttons-wrapper {}

.nav-button {
	height: 1.5em;
	width: 150px;
	margin: 10px;
	margin-bottom: unset;
	border-radius: 2px;
	background-color: #333333;
	border: 2px solid white;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.8em;
	font-family: 'Staatliches', cursive;
}

.nav-button-icon {
	position: absolute;
	float: top;
	float: left;
	bottom: 35px;
}

.Learn .nav-button-icon {
	left: 70px;
}

.Contribute .nav-button-icon {
	left: 240px;
}

/*
MAIN BODY
*/

.text-default {
	height: auto;
	text-align: center;
	margin: auto;
	max-width: 80vw;
	padding: 10px;
	color: white;
	font-family: 'Staatliches', cursive;
}

.content-box {
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #333333;
	border-bottom: 2px solid rgb(36, 36, 36);
	border-top: 2px solid rgb(36, 36, 36);
}

.left-box {
	margin: 10px 10px 15px 10px;
	text-align: center;
}

.right-box {
	border-left: 2px solid white;
	background-color: rgb(77, 77, 77);
}

/* 
LEFTBOX
*/

.gallery-wrapper {
	width: 100%;
}

.game-description {
	border: #151515 solid;
	background-color: #7776;
	color: #ddd;
	text-shadow: black 2px 2px 5px;
	text-align: center;
}

.game-description h3 {
	font-size: 2em;
	margin: 0;
}

.game-description p {
	margin: 0;
	font-size: .6em;
}

/* 
GAME CARDS
*/

.gallery {
	width: 100%;
	height: fit-content;
	display: flex;
	overflow-x: scroll;
	justify-content: space-around;
	transform-origin: top right;
	margin-top: 10px;
	border-top: 2px solid rgb(36, 36, 36);
	border-bottom: 2px solid rgb(36, 36, 36);
	background-color: rgb(77, 77, 77);
}

.game-card {
	display: block;
	height: fit-content;
	width: 103px;
	border: 2px solid white;
	border-radius: 2px;
	margin: 5px;
	margin-left: 3px;
	cursor: pointer;
}

.game-card hr {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 78px;
}

.game-card h2 {
	font-size: 26px;
	margin: 0px;
	margin-top: 3px;
	padding-top: 1px;
	border: solid #151515;
	background-color: #151515;
	width: 78px;
}

.game-card h4 {
	font-size: 24px;
	color: #151515;
	margin: 2px;
	margin-bottom: 2px;
	margin-top: 0px;
	height: 53px;
	width: 70px;
}

.card-reducer {
	display: flex;
	align-items: center;
	transform: scale(0.93);
}

/* 
GAME CARD ANIMATION
*/

*, *::before, *::after {
	box-sizing: border-box;
}

.btn-background-slide {
	background-color: var(--background-color);
	color: #222;
	/* padding: .5em 1em; */
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;
	--background-color: #E3E3E3;
	--border-size: 2px;
	--accent-color: white;
}

.btn-background-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out;
	transform: scaleX(0);
	transform-origin: top;
}

.btn-background-slide:hover::before, button.btn.btn-background-slide:focus::before {
	transform: scaleX(1);
}

.btn-background-slide {
	transition: color 300ms ease-in-out;
	z-index: 1;
}

.btn-background-slide:hover, button.btn.btn-background-slide:focus {
	color: white;
}

.btn-background-slide {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 26px;
	width: fit-content;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	margin: 1px;
	background-color: #4f4d4d;
	border: solid rgb(242, 113, 113);
}

.game-card:hover {
	opacity: .9;
	border: 2px solid rgb(48, 48, 48);
}

.icon-button {
	display: inline;
	padding-right: 2px;
	font-size: 30px;
	border-style: solid;
	border-color: #151515;
	border-spacing: inherit;
	width: 78px;
	background-color: #151515;
}

/* 
Right Box
*/

.suggestion-box {
	display: flex;
	margin-bottom: 10px;
}

.suggestion-description {
	border-top: 4px solid rgb(36, 36, 36);
	padding: 0;
	margin: 0;
	text-align: center;
}

.suggestion-description h2 {
	margin: 0.5em 0;
}

.suggestion-description h4 {
	margin-bottom: 0;
}

.suggestion-game-description {
	max-width: 200px;
	margin-top: -10px;
	margin-left: -10px;
	opacity: .8;
}

.search-box {
	margin-left: 10px;
	width: 310px;
	height: 30px;
	background-color: rgb(65, 65, 65);
	border: none;
	font-family: 'Staatliches', cursive;
	font-size: 20px;
	color: white;
}

.search-box:focus {
	outline: none;
}

.search-box::-webkit-search-cancel-button {
	-webkit-appearance: none;
	content: url(./components/images/searchcancelicon.png);
	background: none;
	height: 20px;
	width: 20px;
}