::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

body {
	height: 100%;
	width: 100%;
	background-color: #777;
	margin: 0;
	display: flex;
	justify-content: center;
}

.App {
	/* margin: 0.5em; */
	padding: 10px;
	/* border might need to be removed later */
	/* border: 3px solid black; */
	min-width: fit-content;
	/* background-color: #fa3; */
}

/* CSS Grid not done */

/* nav {
   background-color: #887;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   column-gap: 5px;
   min-width: fit-content;
}

.navButton {
   height: 100px;
   width: 150px;
}

.navTitle {
   grid-column: auto / span 3;
   min-width: fit-content;
   font-size: 150px;
} */

/* flexbox attempt for navbar wrapping */

/*    -borders are all temporary and only for visualizing 
      -margins are also temporary, likely need to be changed during the actual styling phase
      -sizes are ALSO temporary and may need to be adjusted in final styling phase*/

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* margin-top: 10px;
   margin-right: 10px;j
   margin-left: 10px; */
	/* background-color: #044; */
	/* border: 5px solid orange; */
}

.nav-title {
	height: 100px;
	width: 500px;
	background-color: rgb(100, 22, 153);
	margin-right: 10px;
	/* border: 5px solid red; */
}

/* .button-container {
	/* border: 5px solid yellow; */
	/* background-color: #32d; */
/* } */ 

.nav-button {
	height: 100px;
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
		border-radius: 4px;
		background-color: #f4511e;
		border: none;
		color: #FFFFFF;
		text-align: center;
		font-size: 28px;
		transition: all 0.5s;
		cursor: pointer;
	}

		.nav-button span {
			cursor: pointer;
			position:relative;
			transition: 0.5s;
			top: 10px
		}
		
		.Learn span:after {
			content: url(./components/images/learnicon.png);
			position: absolute;
			opacity: 0;
			top: 0px;
			left: 20px;
			transition: 0.5s;
		}

		.Contribute span:after {
			content: url(./components/images/learnicon.png);
			position: absolute;
			opacity: 0;
			top: -2px;
			left: 50px;
			transition: 0.5s;
		}
		
		.nav-button:hover span {
			padding-top: 25px;
		}
		
		.nav-button:hover span:after {
			opacity: 1;
		}

/* about text on the main page */

.text-default {
	height: auto;
	background-color: #ac4;
	margin: 10px 0px;
	max-width: 850px;
	padding: 2px;
}

.content-box {
	/* background-color: #f378; */
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 2px solid white;
	/* padding: 10px; */
}

.left-box {
	width: 500px;
	/* background-color: #df3; */
}

.right-box {
	background-color: #989;
	width: 340px;
	margin-left: 10px;
}

.gallery-wrapper {
	height: 160px;
}

.gallery {
	width: 160px;
	height: 500px;
	display: block;
	/* display: flex;
   flex-direction: column; */
	overflow-y: auto;
	overflow-x: hidden;
	transform: rotate(-90deg) translateY(-160px);
	transform-origin: top right;
	/* background-color: red; */
}

.game-card {
	display: block;
	height: 150px;
	width: 100px;
	background-color: #b8b;
	margin: 5px;
}

.card-rotate {
	transform: rotate(90deg) translateY(-50px) translateX(125px);
	transform-origin: top right;
}

.card-margin {
	/* transform: scale(.75); */
	margin: 10px;
}

.suggestion-box {
	display: inline-flex;
	background-color: #fa9;
	width: 340px;
	height: 165px;
	/* margin: 0px 10px; */
}