@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

body {
	height: 100%;
	width: 100%;
	background-color: rgb(65, 65, 65);
	margin: 0;
	display: flex;
	justify-content: center;
}

.App {
	padding: 10px;
	margin-top: 10px;
	min-width: fit-content;
	background-color: rgb(72, 72, 72);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #333333;
	border-bottom: 2px solid rgb(36, 36, 36);
	border-top: 2px solid rgb(36, 36, 36);
}

.nav-title {
	height: 100px;
	width: 500px;
	background-image: url(./components/images/dubResBannerV1.png);
	background-size: 100%; /* added this to make the double res size work*/
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 4px;
	opacity: .9;
}

.button-container {
	margin-top: 10px;
	margin-bottom: 10px;
}

.nav-button {
	height: unset;
	width: 150px;
	margin: 10px;
	margin-bottom: unset;
	border-radius: 2px;
	background-color: #333333;
	border: 2px solid white;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	transition: all 0.5s;
	cursor: pointer;
	opacity: .8;
	font-family: 'Staatliches', cursive;
}

.nav-button:hover {
	background-color: #696868;
}

.nav-button span {
	cursor: pointer;
	position: relative;
	transition: 0.5s;
	opacity: 1;
}

.nav-button:hover span {
	position: relative;
	padding-top: 18px;
}

.Learn:hover span:after {
	content: url(./components/images/learnicon.png);
	position: absolute;
	opacity: 0;
	left: 15px;
}

.Contribute:hover span:after {
	content: url(./components/images/contributeicon.png);
	position: absolute;
	opacity: 0;
	left: 40px;
}

.nav-button:hover span:after {
	opacity: 1;
	top: -18px;
}

.text-default {
	height: auto;
	margin: 10px 0px;
	max-width: 850px;
	padding: 10px;
	color: white;
	font-family: 'Staatliches', cursive;
}

.content-box {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #333333;
	border-bottom: 2px solid rgb(36, 36, 36);
	border-top: 2px solid rgb(36, 36, 36);
}

.left-box {
	width: 500px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 10px;
	border-bottom: 2px solid rgb(36, 36, 36);
}

.right-box {
	border-left: 2px solid white;
	width: 340px;
	margin: 10px;
	background-color: rgb(77, 77, 77);
}

.gallery-wrapper {
	height: 160px;
}

.gallery {
	width: 160px;
	height: 490px;
	display: block;
	overflow-y: auto;
	overflow-x: scroll;
	transform: rotate(-90deg) translateY(-160px);
	transform-origin: top right;
	margin-top: 10px;
	border-top: 2px solid rgb(36, 36, 36);
	border-bottom: 2px solid rgb(36, 36, 36);
	background-color: rgb(77, 77, 77);
	;
}

/* niki */

*, *::before, *::after {
	box-sizing: border-box;
}

.btn {
	background-color: var(--background-color);
	color: #222;
	/* padding: .5em 1em; */
	border: none;
	outline: none;
	position: relative;
	cursor: pointer;
	--background-color: #E3E3E3;
	--border-size: 2px;
	--accent-color: white;
}

button.btn.btn-background-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: var(--accent-color);
	transition: transform 300ms ease-in-out;
	transform: scaleX(0);
	transform-origin: top;
}

button.btn.btn-background-slide:hover::before, button.btn.btn-background-slide:focus::before {
	transform: scaleX(1);
}

button.btn.btn-background-slide {
	transition: color 300ms ease-in-out;
	z-index: 1;
}

button.btn.btn-background-slide:hover, button.btn.btn-background-slide:focus {
	color: white;
}

button.btn.btn-background-slide {
	color: white;
	font-family: 'Staatliches', cursive;
	font-size: 26px;
	height: 145px;
	width: 96.5px;
	text-align: center;
	padding-top: 10px;
	padding-right: 10px;
	margin: 1px;
	background-color: #4f4d4d;
	border: solid rgb(242, 113, 113);
}

.icon-button {
	display: inline;
	padding-right: 2px;
	font-size: 30px;
	border-style: solid;
	border-color: #151515;
	border-spacing: inherit;
	height: 27px;
	width: 78px;
	background-color: #151515;
}

.game-card h4 {
	/* somehow padding-bottom doesn't work */
	font-size: 24px;
	color: #151515;
	margin: 2px;
	margin-bottom: 2px;
	margin-top: 0px;
	height: 53px;
	width: 70px;
}

.game-card hr {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 78px;
}

.game-card h2 {
	font-size: 26px;
	margin: 0px;
	margin-top: 3px;
	padding-top: 1px;
	border: solid #151515;
	background-color: #151515;
	width: 78px;
}

/* niki */

.game-card {
	display: block;
	height: 151px;
	width: 103px;
	/* background-image: url(./components/images/triviacard.png); */
	border: 2px solid white;
	border-radius: 2px;
	margin: 5px;
	margin-left: 3px;
	cursor: pointer;
}

.game-card:hover {
	opacity: .9;
	border: 2px solid rgb(48, 48, 48);
}

.card-rotate {
	transform: rotate(90deg) translateY(-50px) translateX(125px);
	transform-origin: top right;
}

.card-margin {
	margin: 10px;
}

.suggestion-box {
	display: flex;
	margin-bottom: 10px;
}

.suggestion-description {
	border-top: 4px solid rgb(36, 36, 36);
}

.suggestion-game-description {
	max-width: 200px;
	margin-top: -10px;
	margin-left: -10px;
	opacity: .8;
}

.search-box {
	margin-left: 10px;
	width: 310px;
	height: 30px;
	background-color: rgb(65, 65, 65);
	border: none;
	font-family: 'Staatliches', cursive;
	font-size: 20px;
	color: white;
}

.search-box:focus {
	outline: none;
}

.search-box::-webkit-search-cancel-button {
	-webkit-appearance: none;
	content: url(./components/images/searchcancelicon.png);
	background: none;
	height: 20px;
	width: 20px;
}